<form
    class="form form-login"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1>Register</h1>

    <div class="form-container">
        <!-- Este elemento contiene el formulario  -->
        <div class="form-content">
            <div class="field">
                <label for="name">Name *</label>
                <input type="text" formControlName="name" id="name"  placeholder="Ex: Manuela Gomez" />
                <div class="error">
                    @if( this.formData.get( 'name' )?.invalid && ( this.formData.get( 'name' )?.dirty || this.formData.get( 'name' )?.touched ) ) {
                        @if( this.formData.get( 'name' )?.errors?.['required'] ) {
                            <span>Name is required</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="username">Username *</label>
                <input type="text" formControlName="username" id="username"  placeholder="Ex: manuela@email.co" />
                <div class="error">
                    @if( this.formData.get( 'username' )?.invalid && ( this.formData.get( 'username' )?.dirty || this.formData.get( 'username' )?.touched ) ) {
                        @if( this.formData.get( 'username' )?.errors?.['required'] ) {
                            <span>Email is required</span>
                        }
                        @if( this.formData.get( 'username' )?.errors?.[ 'email'] ) {
                            <span>Invalid email format</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="password">Password *</label>
                <input type="password" formControlName="password" id="password" placeholder="Ej: *********" />
               
            </div>
            <div class="field">
                <button type="submit" [disabled]="this.formData.invalid">Register</button>
            </div>
        </div>

       
    </div>

</form>

