<form
    class="form form-login"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1>Register</h1>

    <div class="form-container">
        <!-- Este elemento contiene el formulario  -->
        <div class="form-content">
            <div class="field">
                <label for="name">Name *</label>
                <input type="text" formControlName="name" id="name"  placeholder="Ex: Manuela Gomez" />
                <div class="error">
                    @if( this.formData.get( 'name' )?.invalid && ( this.formData.get( 'name' )?.dirty || this.formData.get( 'name' )?.touched ) ) {
                        @if( this.formData.get( 'name' )?.errors?.['required'] ) {
                            <span>Name is required</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="username">Username *</label>
                <input type="text" formControlName="username" id="username"  placeholder="Ex: manuela@email.co" />
                <div class="error">
                    @if( this.formData.get( 'username' )?.invalid && ( this.formData.get( 'username' )?.dirty || this.formData.get( 'username' )?.touched ) ) {
                        @if( this.formData.get( 'username' )?.errors?.['required'] ) {
                            <span>Email is required</span>
                        }
                        @if( this.formData.get( 'username' )?.errors?.[ 'email'] ) {
                            <span>Invalid email format</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="password">Password *</label>
                <input type="password" formControlName="password" id="password" placeholder="Ej: *********" />
                <div class="error">
                    @if( this.formData.get( 'password' )?.invalid && ( this.formData.get( 'password' )?.dirty || this.formData.get( 'password' )?.touched ) ) {
                        @if( this.formData.get( 'password' )?.errors?.[ 'required' ] ) {
                            <span>Password is required</span>
                        }
                        @if( this.formData.get( 'password' )?.errors?.[ 'minlength' ] ) {
                            <span>Minimum password length is 6 characters</span>
                        }
                        @if( this.formData.get( 'password' )?.errors?.[ 'maxlength' ] ) {
                            <span>Maximum password length is 12 characters</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <button type="submit" [disabled]="this.formData.invalid">Register</button>
            </div>
        </div>

        <!-- Este elemento solo es para visualizar los mensajes de error de los campos del formulario -->
        <div class="form-errors">
            <div class="title">Form fields error</div>
            <div class="field">
                <label for="name">Name</label>
                <code class="error">{{ formData.get( 'name' )?.errors | json }}</code>
            </div>
            <div class="field">
                <label for="username">Username</label>
                <code class="error">{{ formData.get( 'username' )?.errors | json }}</code>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <code class="error">{{ formData.get( 'password' )?.errors | json }}</code>
            </div>
            <div class="field">
                <label for="username">Valid form</label>
                <code class="error">{{ formData.valid }}</code>
            </div>
        </div>
    </div>

</form>

