<nav>
    <a href="#">
<img src="assets/images/site-logo.jpg" alt="Peinados Afro Andre" class="site-logo">
    </a>
    <ul class="main-menu">
       
        <li>
          <ul class="sub-menu categories-menu">
              <li><a [routerLink]="[ 'dashboard', 'product', 'new' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nuevo producto</a></li>
          </ul>
      </li>
        <li>
            <ul class="sub-menu categories-menu">
                <li><a [routerLink]="[ 'dashboard', 'category', 'new' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nuevo estilo</a></li>
            </ul>   
        </li>
        <li><a routerLink="login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="register" routerLinkActive="active">Registrar</a></li>
    </ul>

</nav>
