@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --dark-blue: #32325d;
  --gray: #f8f8f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var( --gray );
}

body {
  padding: 2rem 0.5rem;
  font-family: 'Raleway',Sans-serif;
  color: var( --dark-blue );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;

  @media(min-width: 40rem) {
    padding: 2rem;
  }
}

.cards-container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  max-width: 100%;
  flex: 0 0 40%;
  border-radius: .4rem;
  border: 1px solid transparent;
}

.btn-primary {
  background: #e5e5e5;
  text-decoration: none;
  font-size: 1rem;
  color: #32325D;
}

.btn-warning {
  background: #635e5e;
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #dddddd;
}

.btn-warning:hover {
  background-color: #4e4a4a;
}

.cards {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  gap: 2rem;
  flex-direction: column;

  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      -webkit-transform: scale(1.05);

      .card-image {
        opacity: 1;
      }

    }
  }

  .card-category {
    border: 1px solid;
    display: inline;
    align-self: start;
    padding: .18rem .4rem;
    border-radius: .3rem;
}

  .card-info,
  .card-detail {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0 1rem;
    line-height: 1.5em;
  }

  .card-detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.4em;
  }

  .price {
    max-width: 100%;
    flex: 0 0 60%;
  }

  .card-image{
    height: 16rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;

    .image {
      width: 100%;
      height: 16rem;
      object-fit: cover;
    }
  }

  .card-price {
    font-size: 1.4rem;
    font-weight: bolder;
    color: dimgrey;
    text-align: end;
    flex: 1;
  }
}


.form h1 {
    text-align: center;
}

.form-content {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-errors {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .title {
        font-size: 1.2rem;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    width: 100%;
}

.error {
    font-size: .75rem;
    height: 1rem;
    color: red;
    font-style: italic;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
}

.data-table tr:hover {
  background-color: #f9f9f9;
}

.data-table .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image-avatar {
  max-width: 6rem;
  max-height: 6rem;
  width: 100%;
  height: 6rem;
  border-radius: 6rem;
}


.container {
  max-width: 100%;
  padding: 0 16px;
}

